body{
    margin: 0;
    background-color: blue;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-circle{
    height: 400px;
    width: 400px;
    border: 15px solid white;
    border-radius: 50%;
    border-top-color:red;

    position: absolute;
    cursor: pointer;

}

.border-circle:hover{
    transform: rotate(360deg);
    transition-duration: 2s;
}
.gray-circle{
    height: 400px;
    width: 400px;
    background-color: gray;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 3rem;
    margin: 0;
}

